@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

body {
   font-family: "Space Mono";
   font-size: 16px;
   line-height: 1.25;

   background-color: #000000;
  
   color: #ffffff;

}

h1 {
    font-size: 30vmin;   
}



section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

nav {
    position: fixed;
    top: 38px;
    right: 30px;
}

nav a {
    color: #999999;
    text-decoration: none;
}

nav a.selected {
    color: #ffffff;
}