@import url('https://rsms.me/inter/inter-ui.css');


body {
    font-family: "Inter UI";
    font-size: 24px;
    line-height: 1.25;
    font-weight: 500;
    background-color: #222222;
    color: #ffffff;
}

body:before {
    content: "";
    background-color: #292929;
    position: fixed;
    top: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-5deg);
}

h1 {
    font-weight: 900;
    margin: 0 16px 0 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px;
    display: flex;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 95%;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    transform: translate(0, 100%);
    transition: transform 1s;
}

footer.show {
    transform: translate(0, 0);
}

a {
    text-decoration: none;
    color: #ffffff;
    overflow: hidden;
}

section {
    position: relative;
    z-index: 0;
    padding: 100px 32px 100px 32px;

    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px 32px; */
}

div.slider {
    display: flex;
    height: 100vh;
    width: fit-content;
    transition: transform 1s;
}

div.slider div {
    padding: 100px 32px 100px 32px;
    width: 100vh;
    height: 100vh;
    text-align: center;
}

div.slider img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}